.container{
	width: 101%;
	height: 100%;
	position: absolute;
	padding: 0;
	overflow: hidden;
	
}

.hovering:hover{
	cursor: pointer;
}

/*Left Bar*/

.bar1{
	height: 100%;
	width:20%;
	background-color: black;
	position: absolute;
	z-index:700;
}

.logo{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 10%
}
.logo_pic{
	height: 40%;
	width: 40%;
	border: 1px solid white
}

.expand{
	position: absolute;
	color: white;
	font-size: 5em;
	font-weight: 100;
	top: 45%;
	left: 70%;
	cursor: hand;
	width: 25%;
	text-align: center;
}

.copyright{
	position: absolute;
	color:white;
	font-size: .7em;
	top: 97%;
	left: 10%
}

/*Slide Out Bar*/

.bar2{
	position: absolute;
	height: 100%;
	width:20%;
	background-color: white;
	z-index: 400;
}

.close{
	color: black;
	font-size: 2em;
	margin-right: 3%
}

.nav-container{
	position: absolute;
	top:30%;
	left: -10%;
	width: 100%;
	text-align: center;
}

.nav-list{
	font-size: 1.5em;
	line-height: 2;
	list-style-type: none;
	text-decoration: underline;
	font-family: 'Roboto';
	font-weight: 100
}


/*Main Content*/
.main_content{
	height: 100%;
	width:80%;
	position: absolute;
	left: 20%
}

.content_box{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*Home Section */
#home{
	z-index: 10
}
.home-pic{
	height: 100%;
	width: 100%;
	z-index: 4
}

.home-text{
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 30%;
	text-align: center;
	color: white
}

/*Fact Section*/

#facts{
	background-color: blue;
	z-index:0;
}

.fact-text{
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 30%;
	text-align: center;
	color: white
}

/*Services Section*/

#services{
	background-color: red;
	z-index:0;
}

.services-text{
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 30%;
	text-align: center;
	color: white
}

/*Team Section*/

#team{
	background-color: green;
	z-index:0;
}

.team-text{
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 30%;
	text-align: center;
	color: white
}

/*Contact Section*/

#contact{
	background-color: white;
	z-index:0;
}

.contact-text{
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 30%;
	text-align: center;
	color: white
}
