.container{
	width: 101%;
	height: 100%;
	position: absolute;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	
}

.hovering:hover{
	cursor: pointer;
}

/*Left Bar*/

.bar1{
	height: 100%;
	width:20%;
	background-color: black;
	position: absolute;
	z-index:700;
}

.logo{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 10%
}
.logo_pic{
	height: 40%;
	width: 40%;
	border: 1px solid white
}

.expand{
	position: absolute;
	color: white;
	font-size: 5em;
	font-weight: 100;
	top: 45%;
	left: 70%;
	cursor: hand;
	width: 25%;
	text-align: center;
}

.copyright{
	position: absolute;
	color:white;
	font-size: .7em;
	top: 97%;
	left: 10%
}

/*Slide Out Bar*/

.bar2{
	position: absolute;
	height: 100%;
	width:20%;
	background-color: white;
	z-index: 400;
}

.close{
	color: black;
	font-size: 2em;
	margin-right: 3%
}

.nav-container{
	position: absolute;
	top:30%;
	left: -10%;
	width: 100%;
	text-align: center;
}

.nav-list{
	font-size: 1.5em;
	line-height: 2;
	list-style-type: none;
	text-decoration: underline;
	font-family: 'Roboto';
	font-weight: 100
}


/*Main Content*/
.main_content{
	height: 100%;
	width:80%;
	position: absolute;
	left: 20%
}

.content_box{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*Home Section */
#home{
	z-index: 300
}
.home-pic{
	height: 100%;
	width: 100%;
	z-index: 4
}

.home-text{
	position: absolute;
	z-index: 5;
	top: 30%;
	left: 5%;
	text-align: center;
	color: white;
	
}

.htitle, .hsubtitle{
	font-weight: 100;
	text-align: center;
}

.htitle{
	font-size: 3em
}

/*Fact Section*/

#facts{
	background-color: white;
	z-index:0;
	
}

.instructions{
	font-weight: 100;
	font-family: 'Roboto';
	font-size: 1.8em;
	left: 43%;
	position: absolute;
}

.fact-box{
	height: 20%;
	width: 35%;
	border: 2px solid black;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	padding: 0
}

.fact-box:hover{
	cursor: pointer;
}


.fact-text, .fact-text-l{
	height: 100%;
	width: 90%;
	color: black;
	font-size: 1em;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	font-weight: 100;
	font-family: 'Roboto';
	padding: 7%
	
}

.fact-text{
	left: 0%;
}

.fact-text-l{
	left: 10%}

.next{
	font-size: 3.5em;
	position: absolute;
	top: 25%;
	left: 93.5%
}

.next-l{
	font-size: 3.5em;
	position: absolute;
	top: 27%;
	left: 1.5%
}

#box4 .next-l{
	top: 30%
}

.hline{
	height: .1%;
	border: 2px solid black;

	position: absolute;
	display: none;
	width: 0%;
}

.vline{
	height: 16%;
	border: 2px solid black;
	position: absolute;
	display: none;
	height: 0%;
}



#box1{
	left: 5%;
	top: 5%;
}

#line1{
	left: 40%;
	top: 14%;
}

#line2{
	left: 72.5%;
	top: 14%;
}


#box2{
	left: 55%;
	top: 28%;
	visibility: hidden;
}

#line3{
	left: 55%;
	top: 37.5%
}

#line4{
	left: 22.5%;
	top: 37.5%
}

#box3{
	left: 5%;
	top: 52%;
	visibility: hidden;
}

#line5{
	left: 40%;
	top: 61%;

}

#line6{
	left: 72.5%;
	top: 61%;

}

#box4{
	left: 55%;
	top: 76%;
	visibility: hidden;
}

#line7{
	left: 55%;
	top: 86%;
}

#line8{
	left: 22.5%;
	top: 86%;
	height: 15%;

}

#box5{
	left: 5%;
	top: 101%;
	margin-bottom: 5%;
	visibility: hidden;
}

.learn{
	color: blue;
	font-weight: 400;
	line-height: 2
}

.learn:hover{
	text-decoration: underline;
}


/*Services Section*/

#services{
	background-color: white;
	z-index:0;
	text-align: center;
}

.service, .service-text-box{
	top: 30%;
	position: absolute;
	overflow-y:scroll;	
	opacity: 1
}

.service{
	height: 40%;
	width: 30%;
	border: 5px solid black;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
	z-index: 5
}



#web{
	background-image: url("https://dl.dropboxusercontent.com/s/vwa3wxa02zzmndt/Tell-your-story.jpg?dl=0");
	left: 1%
}

#web-text-box{
	left: 2%
}

#web:hover{
	opacity: 1;
	cursor: pointer;
}

#web:hover + #web-text-box{
	font-weight: 200
}

#content{
	background-image: url("https://dl.dropboxusercontent.com/s/7mdud0tftek93lx/tumblr_ndyfvm0EwX1tubinno1_1280.jpg?dl=0");
	left: 34.33%;
}

#content-text-box{
	left: 36.33%;
}

#content:hover{
	opacity: 1;
	cursor: pointer;
}

#engagement{
	background-image: url("https://dl.dropboxusercontent.com/s/q72xlrmrn0jndpy/tumblr_nohopkwhlj1uqj0ypo1_500.jpg?dl=0");
	left: 67.66%;
}

#engagement-text-box{
	left: 67.66%;
	height: 17%;
	top: 35%
}

#engagement:hover{
	opacity: 1;
	cursor: pointer;
}

.service-title{
	font-family: 'Roboto';
	font-weight: 200;
	top: 30%;
	position: absolute;
	margin: 0


}

.service-text{
	color: black;
	z-index: 16;
	position: absolute;
	display: none;
	font-family: "Roboto";
	font-weight: 100
}


.open{
	position: absolute;
	height: 90%;
	width: 90%;
	margin: 0 auto;
	left: 0;
	z-index: 7;
	opacity: 1;
	top: 5%
}
/*Team Section*/

#team{
	background-color: white;
	z-index:0;
	text-align: center;
}


.team-member, .team-text-box{
	top: 30%;
	position: absolute;
	overflow-y:scroll;	
	opacity: 1
}

.team-member{
	height: 40%;
	width: 30%;
	border: 5px solid black;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
	z-index: 5
}



#garrett{
	background-image: url("https://dl.dropboxusercontent.com/s/cxhhgvq4jgutpjb/Optimized-FullSizeRender-4.jpg?dl=0");
	left: 1%
}

#garrett-text-box{
	left: 2%
}

#garrett:hover{
	opacity: 1;
	cursor: pointer;
}

#garrett:hover + #garrett-text-box{
	font-weight: 200
}

#ellen{
	background-image: url("https://dl.dropboxusercontent.com/s/dt22i46l6c5ac0w/Optimized-FullSizeRender-5.jpg?dl=0");
	left: 34.33%;
}

#ellen-text-box{
	left: 36.33%;
}

#ellen:hover{
	opacity: 1;
	cursor: pointer;
}

#luke{
	background-image: url("https://dl.dropboxusercontent.com/s/423mlvp9p0swz42/Optimized-FullSizeRender.jpg?dl=0");
	left: 67.66%;
}

#luke-text-box{
	left: 67.66%;
	height: 17%;
	top: 35%
}

#luke:hover{
	opacity: 1;
	cursor: pointer;
}

.team-title{
	font-family: 'Roboto';
	font-weight: 200;
	top: 30%;
	position: absolute;
	margin: 0;
	color: white;
	left: 0%;
	top: 10%
}

.team-text{
	color: black;
	z-index: 16;
	position: absolute;
	display: none;
	font-family: "Roboto";
	font-weight: 100
}


.open{
	position: absolute;
	height: 90%;
	width: 90%;
	margin: 0 auto;
	left: 0;
	z-index: 7;
	opacity: 1;
	top: 5%
}

/*Contact Section*/

#contact{
	background-color: white;
	z-index:0;
}

.contact-title{
	color: black;
	z-index: 5;
	position: absolute;
	top: 10%;
	left: 15%;
	font-family: 'Roboto';
	font-size: 2.5em
}
.contact-form-box, .contact-form{
	position: absolute;
	z-index: 5;
	top: 30%;
	left: 30%;
	text-align: center;
	background-color: black;
	opacity: .6;
	color: white;
	width: 40%;
	height: 60%;
	border-radius: 3%
}

.contact-form{
	opacity: 1;
	background-color: transparent;
}

.contact-form p{
	font-size: 1.3em;
	margin-top:20px;
}

.contact-input{
	border: none;
	margin: 3%;
	height: 30px;
	width: 300px;
	text-align: center;
	color: black
}

