.container{
	width: 101%;
	height: 100%;
	position: fixed;
	padding: 0;
	overflow-x: hidden;
	
}

.hovering:hover{
	cursor: pointer;
}

.next-box{
	z-index: 100;
	color: red;
	position: relative;
	top: -30%;
	left: 50%;
	height: 5%;
	width: 5%;
}

/*Left Bar*/

.bar1{
	height: 100%;
	width:21%;
	background-color: black;
	position: absolute;
	z-index:700;
}

.logo{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 10%
}
.logo_pic{
	height: 40%;
	width: 40%;
	border: 1px solid white
}


.copyright{
	position: absolute;
	color:white;
	font-size: .7em;
	top: 97%;
	left: 10%
}

.nav-container{
	position: absolute;
	top:40%;
	left: -10%;
	width: 100%;
	text-align: center;
}

.nav-list{
	font-size: 1.5em;
	line-height: 2;
	list-style-type: none;
	text-decoration: underline;
	font-family: 'Roboto';
	font-weight: 100;
	color: white
}
/*Slide Out Bar*/

.bar2{
	position: fixed;
	height: 100%;
	width:20%;
	background-color: white;
	z-index: 400;
}

.close{
	color: black;
	font-size: 2em;
	margin-right: 3%
}




/*Main Content*/
.main_content{
	height: 100%;
	width:80%;
	position: fixed;
	left: 20%;
	overflow-y:scroll;


}

.content_box{
	height: 100%;
	width: 100%;
	overflow-y:hidden;
	overflow-x:hidden;
	position: relative;
	background-image: url("https://dl.dropboxusercontent.com/s/1qh6yoshmkiabxq/px_by_Gre3g.png?dl=0");

}

.learn-btn{
	border: 1px solid white;
	background-color: transparent;
	color: white;
	font-family: "Roboto"
}

/*Home Section */
#home{
	z-index: 0;
	top: 0

}
.home-pic{
	height: 120%;
	width: 100%;
	z-index: 4;

}

.home-text{
	position: absolute;
	z-index: 5;
	top: 30%;
	left: 5%;
	text-align: center;
	color: white;
	font-weight: 300
	
}

.htitle, .hsubtitle{
	font-weight: 100;
	text-align: center;
}

.htitle{
	font-size: 3em
}

/*Fact Section*/

#facts{
	z-index:0;
	height: 100%;
	width: 100%;
}

.instructions{
	font-weight: 100;
	font-family: 'Roboto';
	font-size: 3em;
	position: relative;
	margin-bottom: 10%;
	width: 100%;
	text-align: center;
	left: 1%;
	line-height: .8;
	color: white
}

.subtext{
	font-size: .4em;
	top: 3%;
	line-height: .3
}

.mosaic, .mcover{
	height: 60%;
	width: 100%;
	background: transparent;
}

.mcover{
	z-index: 10;
	background: gray;
	opacity: .7;
	position: absolute;
	display: none
}

.mosaic-row{
	height: 49%;
	width: 100%;
	position: relative;
	margin-bottom: .25%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
	flex-direction:row;
	text-align: center
}

.msquare{
	width: 24.6%;
	height: 100%;
	margin: .5px;
	position: relative;
	left:1.1% !important;
	background: black;
	color: white;
	line-height: .8;
	font-family: 'Roboto';
	font-weight: 100;
	vertical-align: middle;
}

.fact-top, .fact-bottom{
	font-size: 2em;
	display: none;
	z-index: 100;
	position: absolute;
	top: 70%;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	text-align: center;
	width: 100%

}

.fact-bottom{
	top: 40%;
}

#ms1{
	background-image: url("https://dl.dropboxusercontent.com/s/2j5phbf78hylnmk/coffee-cup-mug-desk.jpg?dl=0");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
}

#ms2{
	font-size: 7em;
	padding-top: 5%
}

#ms3{
	background-image: url("https://dl.dropboxusercontent.com/s/3634nz1utpt2hd2/city-cars-road-houses.jpg?dl=0");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
}

#ms4{
	padding-top: 7%
}

#ms4 p{
	font-size: 5em;
	vertical-align: middle;
	height: 100%;

}

#ms5, #ms7{
	font-size: 7em;
	padding-top: 5%
}

#ms6{
	background-image: url("https://dl.dropboxusercontent.com/s/6qjks7wzlhyfuav/sea-sailing-ship-boat-sailboat.jpg?dl=0");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
}	

#ms8{
	
	background-image: url("https://dl.dropboxusercontent.com/s/q72xlrmrn0jndpy/tumblr_nohopkwhlj1uqj0ypo1_500.jpg?dl=0");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
}

/*Services Section*/

#services{
	background-color: white;
	z-index:0;
	text-align: center;
	/*background-image: url("https://dl.dropboxusercontent.com/s/gr262y5cohj9fvx/1907211.jpg?dl=0");
*/
}

#service-title{
	color: white;
}

.service, .service-text-box{
	top: 30%;
	position: absolute;
	overflow-y:scroll;	
	opacity: 1;
	text-align: center;
}

.service{
	height: 40%;
	width: 30%;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
	z-index: 5
}



#web{
	background-image: url("https://dl.dropboxusercontent.com/s/vwa3wxa02zzmndt/Tell-your-story.jpg?dl=0");
	left: 3.5%
}

#web-text-box{
	left: 2%
}

#web:hover{
	opacity: 1;
	cursor: pointer;
}

#web:hover + #web-text-box{
	font-weight: 200
}

#content{
	background-image: url("https://dl.dropboxusercontent.com/s/ijtdu4zceldyod3/black-and-white-apple-iphone-smartphone.jpg?dl=0");
	left: 35.5%;
}

#content-text-box{
	left: 36.33%;
}

#content:hover{
	opacity: 1;
	cursor: pointer;
}

#engagement{
	background-image: url("https://dl.dropboxusercontent.com/s/rc3wfn2w3lj83yw/city-landmark-lights-night-large.jpg?dl=0");
	left: 67.66%;
}

#engagement-text-box{
	left: 67.66%;
	height: 17%;
	top: 35%
}

#engagement:hover{
	opacity: 1;
	cursor: pointer;
}

.service-title{
	font-family: 'Roboto';
	font-weight: 200;
	top: 30%;
	position: absolute;
	margin: 0 auto;
	color: white;
	text-align: center;
	width: 100%


}

.service-text{
	color: black;
	z-index: 16;
	position: relative;
	top: 80%;
	display: none;
	font-family: "Roboto";
	font-weight: 300;
	width: 50%;
	height: 50%
	left: 0%;
	text-align: center
}


.open{
	position: absolute;
	height: 90%;
	width: 90%;
	margin: 0 auto;
	left: 0;
	z-index: 7;
	opacity: 1;
	top: 5%
}
/*Team Section*/

#team{
	background-color: white;
	z-index:0;
	text-align: center;
}

#team-title{
	color: white;
}


.team-member, .team-text-box{
	top: 30%;
	position: absolute;
	overflow-y:scroll;	
	opacity: 1
}

.team-member{
	height: 40%;
	width: 30%;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 0%;
	z-index: 5
}



#garrett{
	background-image: url("https://dl.dropboxusercontent.com/s/cxhhgvq4jgutpjb/Optimized-FullSizeRender-4.jpg?dl=0");
	left: 3.5%
}

#garrett-text-box{
	left: 2%
}

#garrett:hover{
	opacity: 1;
	cursor: pointer;
}

#garrett:hover + #garrett-text-box{
	font-weight: 200
}

#ellen{
	background-image: url("https://dl.dropboxusercontent.com/s/dt22i46l6c5ac0w/Optimized-FullSizeRender-5.jpg?dl=0");
	left: 35.5%;
}

#ellen-text-box{
	left: 36.33%;
}

#ellen:hover{
	opacity: 1;
	cursor: pointer;
}

#luke{
	background-image: url("https://dl.dropboxusercontent.com/s/423mlvp9p0swz42/Optimized-FullSizeRender.jpg?dl=0");
	left: 67.66%;
}

#luke-text-box{
	left: 67.66%;
	height: 17%;
	top: 35%
}

#luke:hover{
	opacity: 1;
	cursor: pointer;
}

.team-title{
	font-family: 'Roboto';
	font-weight: 200;
	top: 30%;
	position: absolute;
	margin: 0;
	width: 100%;
	text-align: center;
	color: white;
	left: 0%;
}

.team-text{
	color: black;
	z-index: 16;
	position: relative;
	display: none;
	font-family: "Roboto";
	font-weight: 100;
	top: 60%;
}


.open{
	position: absolute;
	height: 90%;
	width: 90%;
	margin: 0 auto;
	left: 0;
	z-index: 7;
	opacity: 1;
	top: 5%
}

/*Contact Section*/

#contact{
	background-color: white;
	z-index:0;
}

.contact-title{
	color: black;
	z-index: 5;
	position: absolute;
	top: 10%;
	left: 15%;
	font-family: 'Roboto';
	font-size: 2.5em;
	font-weight: 100
}
.contact-form-box, .contact-form{
	position: absolute;
	z-index: 5;
	top: 30%;
	left: 30%;
	text-align: center;
	background-color: black;
	opacity: .6;
	color: white;
	width: 40%;
	height: 60%;
	border-radius: 3%
}

.contact-form{
	opacity: 1;
	background-color: transparent;
}

.contact-form p{
	font-size: 1.3em;
	margin-top:20px;
	font-weight: 100;
	font-family: 'Roboto';	
}

.contact-input{
	border: none;
	margin: 3%;
	height: 30px;
	width: 300px;
	text-align: center;
	color: black
}

.submit-btn{
	border-radius: 0;
	width: 150px
}

.contact-pic{
	height: 110%;
	width: 100%;
	z-index: 4;

}

